@{
    ViewBag.Title = "File";
}

<h2>Выберите файл выписки для загрузки</h2>


@using (Html.BeginForm("Prewiew", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}