<!--Место для блока списка контрагентов-->
<div id="tableBlock"></div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
 
            GetAllContrAgents();
 
            $("#editContrAgent").click(function (event) {
                event.preventDefault();
                EditContrAgent();
            });
 
        });
        // Получение списка контрагентов по ajax-запросу
        function GetAllContrAgents() {
         
            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/values',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        
        // вывод полученных данных на экран - список контр агентов
// ReSharper disable once InconsistentNaming
        function WriteResponse(ContrAgents) {
            var strResult = "<table><th>ID</th><th>Название</th><th>Расчетный счет</th><th>ИНН</th>";
            $.each(ContrAgents, function (index, ContrAgent) {
                strResult += "<tr><td>" + ContrAgent.Id + "</td><td> " + ContrAgent.Name + "</td><td>" + 
                    ContrAgent.Сheck + "</td><td>" + ContrAgent.INN +
                    "</td><td><a id='editItem' data-item='" + ContrAgent.Id + "' onclick='EditItem(this);' >Карточка контр агента</a></td>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);
         
        }
     
        // обработчик получения карточки
        function EditItem (el) {
            // получаем id карточки контрагента
            var id = $(el).attr('data-item');
            GetContrAgent(id);
        }
        // вывод данных карточки контрагента (отредактирую по другому с дополнительными данными)
        function ShowContrAgent(ContrAgent) {
            var strResult = "<table><th>ID</th><th>Название</th><th>Рассчетный счет</th><th>ИНН</th>";
            strResult += "<tr><td>" +
                ContrAgent.Id +
                "</td><td> " +
                ContrAgent.Name +
                "</td><td>" +
                ContrAgent.Сheck +
                "</td><td>" +
                ContrAgent.INN;
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }
        // запрос карточки контрагента
        function GetContrAgent(id) {
            $.ajax({
                url: '/api/values/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowContrAgent(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}